<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <title>Hello, world!</title>
</head>
<body>
<!--메뉴-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">중고거래</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/goods/list">상품</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/notice/list">공지사항</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/board/list">게시판</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/login">로그인</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/join">회원가입</a>
        </li>


      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
<!--메뉴끝-->

<!--메인이미지-->
<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">게시판</h1>
    <a class="btn btn-primary btn-lg" href="/" role="button">홈으로</a>
  </div>
</div>

<!--본문-->
<div class="container my-5">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col">No</th>
      <th scope="col">제목</th>
      <th scope="col">작성자</th>
      <th scope="col">날짜</th>
      <th scope="col">조회</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board: ${boardList}">
      <td th:text="${board.id}"></td>
      <td><a th:href="@{|/board/view/${board.id}|}" th:text="${board.boardTitle}"></a></td>
      <td th:text="${board.boardWriter}"></td>
      <td th:text="*{#temporals.format(board.BoardCreatedTime,'yyyy-MM-dd')}"></td>
      <td th:text="${board.boardHits}"></td>
    </tr>


    </tbody>
  </table>
  <a class="btn btn-danger" href="/board/write" role="button">글쓰기</a>




</div>

<!--푸터-->

<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>


</body>
</html>
