<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <title>Hello, world!</title>
</head>
<body>
<!--메뉴-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
    <a class="navbar-brand" href="/">중고거래</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/goods/list">상품</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/notice/list">공지사항</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/board/list">게시판</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/login">로그인</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/join">회원가입</a>
            </li>


        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    </div>
</nav>
<!--메뉴끝-->

<!--메인이미지-->

<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://cdn.pixabay.com/photo/2018/07/29/10/16/crypto-3569795_960_720.jpg" class="d-block w-100" alt="..." style="height:500px">
        </div>
        <div class="carousel-item">
            <img src="https://cdn.pixabay.com/photo/2019/02/16/14/19/shopping-4000414_1280.jpg" class="d-block w-100" alt="..." style="height:500px">
        </div>
        <div class="carousel-item">
            <img src="https://cdn.pixabay.com/photo/2016/05/17/13/01/merchant-pull-1398066_1280.jpg" class="d-block w-100" alt="..." style="height:500px">
        </div>
    </div>
</div>

<!--본문-->
<div class="container my-5">
    <h2>인기상품</h2>
    <div class="row row-cols-1 row-cols-md-3">
        <!--반복되는 구문-->
        <div class="col mb-4" th:each="goods:${goodsList}">
            <div class="card">
                <a th:href="@{|/goods/view/${goods.id}|}">
                <img th:src="@{|/upload/${goods.storedFileName}|}" class="card-img-top" alt="..." style="max-width:100%">
                </a>
                <div class="card-body">
                    <h5 class="card-title" th:text="${goods.goodsName}"></h5>
                    <p class="card-text" th:text="${goods.goodsBrand}"></p>
                    <p class="card-text" th:text="${goods.goodsMoney}"></p>
                </div>
            </div>
        </div>

    </div>



</div>

<!--푸터-->


<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>


</body>
</html>
